<!DOCTYPE html>
<html lang="en">
{{>partials/head}}
<body>
    
    <div class="full-width">

        <div class="row full-width">

            <div class="col-md-6 col-lg-6 padding-none">
                <section class="ilustration">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="8000">
                                <img src="/assets/couple.jpg" class="d-block w-100 fit-height" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="8000">
                                <img src="/assets/friends.jpg" class="d-block w-100 fit-height" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="8000">
                                <img src="/assets/girls.jpg" class="d-block w-100 fit-height" alt="...">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6 col-lg-6 padding-container right-form">
            
                <header>

                    <nav class="navbar navbar-expand-lg">

                        <div class="container-fluid">

                            <a class="navbar-brand" href="#">Your Shopping</a>

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="https://paypal-test-85mo.onrender.com/">Home</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link disabled" aria-current="page" href="https://paypal-test-85mo.onrender.com/shop">Shop</a>
                                </li>

                            </ul>

                            {{!--
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            --}}

                            </div>
                        </div>
                    </nav>

                </header>

                <div class="container register">

                    <div class="register-top">
                        <h1>Register</h1>
                        <hr>
                        <p>The information below was pre-filled according to requests, but these fields can be changed by you.</p>
                    </div>

                    <div class="form">
                        <form method="POST">

                            <div class="name">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <input type="text" name="name" id="name" value="Emma" placeholder="Name" required>
                                <input type="text" name="lastName" id="lastName" value="Miller Thompson" placeholder="Last Name" required>
                            </div>

                            <div class="phone">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <input type="text" name="phone" id="phone" value="+1 (646) 265-7864" placeholder="Phone" required>
                            </div>

                            <div class="email">
                                <i class="fa fa-at" aria-hidden="true"></i>
                                <input type="text" name="email" id="email" value="emma.shopper28@gmail.com" placeholder="Email" required>
                            </div>

                            <h4>Address</h4>
                            <hr>

                            <div class="address">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <input type="text" name="address[line1]" id="addressLine1" value="1150 Sterling Pl Apt 8" placeholder="Address line 1" required>
                                <input type="text" name="address[line2]" id="addressLine2" value="Brooklyn, NY" placeholder="Address line 2" required>
                            </div>

                            <div class="address-cont">
                                <input type="text" name="address[state]" id="state" value="New York" placeholder="State" required>
                                <input type="text" name="address[country]" id="country" value="United State" placeholder="Country" required>
                                <input type="text" name="address[zip]" id="zip" value="11213" placeholder="Zip" required>
                            </div>

                            <div class="btn-submit">
                                <input type="submit" value="Submit">
                            </div>

                        </form>


                    </div>

                </div>
            
            </div>

        </div>

    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</body>
</html>