<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Teste de nova pagina HTML</h1>
    <hr>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, quia dolores. Esse, sit. Delectus aliquid illo numquam sit natus, rem repudiandae cupiditate itaque esse, labore voluptas sapiente officia distinctio ratione!</p>
</body>
</html>