<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">   
    <script src="/script/script.js"></script> 
    <title>Shop</title>
</head>
<body>
    <div class="container-shop">
        <div class="left-content">
            <div class="container">
                <header>
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">Your Shopping</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="https://paypal-test-85mo.onrender.com/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="https://paypal-test-85mo.onrender.com/shop">Shop</a>
                                    </li>
                                </ul>
                                {{!--
                                    <form class="d-flex" role="search">
                                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                    </form>
                                --}}
                            </div>
                        </div>
                    </nav>
                </header>
                <div class="title-shop">
                    <h1>CHOOSE YOUR NEW STYLE</h1>
                </div>
                <hr>
                <div class="flex-product">
                    {{ #productList }}
                        <div class="product">
                            <img src="/assets/{{ image }}" alt="{{ name }}">
                            <div class="description">
                                <div class="text">
                                    <p class="name-product">{{ name }}</p>
                                    <p class="value-product">${{ price }}</p>
                                </div>
                                <div class="call-to-action">
                                    <form class="addToCartForm" method="POST">
                                        <input type="hidden" type="number" name="productId" value="{{productId}}">
                                        <input type="hidden" name="image" value="{{image}}">
                                        <input type="hidden" name="name" value="{{name}}">
                                        <input type="hidden" type="number" name="price" value="{{price}}">
                                        <input type="hidden" type="number" name="amount" value=1>
                                        <input  type="submit" value="Buy" class="button-buy">
                                    </form>
                                </div>
                            </div>
                        </div> 
                    {{ /productList }}
                </div>
            </div>
        </div>
        <div class="right-content">
            <div class="padding-resume">
                <h2>Cart Resume</h2>
                <div id="cart-content">

                    {{ #cartList }}
                        <div class="product-resume">
                            <img src="/assets/{{ image }}" alt="{{ name }}">
                            <div class="description">
                                <p class="name-product">{{ name }}</p>
                                <p class="value-product">{{ price }}</p>
                            </div>
                            <div class="quantity-product">
                                <p>{{ amount }}</p>
                                <div class="incrase-decrase">
                                    <form method="POST">
                                        <div>
                                            <input type="hidden" type="number" name="productId" value="{{productId}}">
                                            <button type="submit" class="button-buy">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        </form>
                                    <form method="POST">
                                        <div>
                                            <input type="hidden" type="number" name="productId" value="{{productId}}">
                                            <input type="hidden" name="remove" value="true">
                                            <button type="submit" class="button-buy">
                                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {{ /cartList }}
                    <!-- 
                        {{ ^cartList }}

                        {{ /cartList }}
                    -->
                    
                </div>
                <div id="send-cart">
                    <div id="paypal-button-container" style="max-width:1000px;">
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="toastHBox"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const hasProduct = document.querySelectorAll("#cart-content .product-resume").length
            if(hasProduct > 0){
                document.querySelector("#send-cart").style.display = "block"
            }else{
                document.querySelector("#send-cart").style.display = "none"
            }
        })
    </script>
</body>
</html>
